.main-container{
    border: 10px solid blueviolet;
    display:flex;
    width: 100%;
}
.left{
display: flex;
width: 30%;
border: 1px solid #000;
justify-content: center;

}
.profile{
    width: 100%;
    max-width: 250px;
    padding: 5px;
}
.right{
    border: 1px solid #000;
    width: 70%;
}